{% extends 'shop/base.html' %}
{% load static %}
{% load shop_tags %}

{% block content %}

    <div class="row">

        <div class="col-lg-3">

            <h1 class="my-4">Shop Name</h1>
            {% category %}

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div class="card mt-4">
                <img class="card-img-top img-fluid" src="{{ item.default_image_url }}" alt="">
                <div class="card-body">
                    <h3 class="card-title">{{ item.name }}</h3>
                    <h4>${{ item.price }}</h4>
                    <p class="card-text">{{ item.description }}</p>
                    <span class="text-warning">{% star_rating item True %}</span>
                </div>
            </div>
            <!-- /.card -->

            <div class="card card-outline-secondary my-4">
                <div class="card-header">
                    Product Reviews
                </div>
                <div class="card-body">
                    {% for r in item.reviews.all %}
                        <p>{{ r.body }}</p>
                        <small class="text-muted">Posted by {{ r.user.username }} on {{ r.date }}</small>
                        <hr>
                    {% endfor %}

                    <a href="#" class="btn btn-success">Leave a Review</a>
                </div>
            </div>
            <!-- /.card -->

        </div>
        <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
{% endblock %}
